.container {
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffad00;
  border-radius: 10px;
  height: 150px;
}

.text-area {
  height: 100px;
  resize: none;
  margin-top: 3px;
}

.typing-card {
  width: 700px;
}

.btn-chat {
  margin-top: 5px;
  background-color: grey;
  width: 114px;
}
